@import '../../../styles/global.scss';

h1 {
  text-align: center;
  color: $primary-color;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
  margin: 30px auto;
  padding: 20px;

  border: 1px solid $light-primary;
  border-radius: 8px;
  background-color: #f9f9f9;

  label {
    font-size: 14px;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  input,
  textarea,
  select {
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    resize: vertical;
    background-color: white;
  }

  .tooltip-wrapper {
    position: relative;
    display: block;
    text-align: center;

    button {
      display: block;
      margin: 15px auto 0;
      background-color: $button-color;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;
      width: fit-content;

      &:hover {

        border: 1px solid $light-primary;
        transform: scale(1.05);
      }

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    .tooltip {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: white;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 0.85em;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.4s ease-in-out;
      z-index: 10;
      width: max-content;
      white-space: nowrap;
    }

    &:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

#error-message {
  text-align: center;
  color: $warn-color;
  font-size: 14px;
  margin-top: 10px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid lighten($primary-color, 40%);
    border-top: 6px solid $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

